@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

.mt-0 {
  margin-top: 0!important;
}

.mt-1 {
  margin-top: 1rem!important;
}

.text-underline {
  text-decoration: underline;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}

.material-icons-outlined.sm {
  font-size: 12px;
}